@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}
body{

}

/* nav */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 64px;
    font: 24px;
    line-height: 23.76px;

    background-color: #17181A;
    color: #FFFFFF;
}
.nav-left,.nav-right{
    display: flex;
    flex-direction: row;
}
.nav-left {
    margin-left: 55.59px;
}
.nav-left a{
    margin-left: 16px;
    text-decoration: none;
}
.nav-left img{
    max-width: 10%;
}
.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 135px;
}
.nav-right img{
    cursor: pointer;
    margin-right: 35px;
}
.nav-right :last-child{
    margin-right: 0px;
}
.nav-icon-first{
    width: 23px;
    height: 35.764px; 
}
.nav-icon-second{
    width: 26px;
    height: 39.464px;
}
.nav-icon-third{
    width: 43px;
    height: 42px;
}
/* nav end */

/* header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #f6f7FB;
    background-image: url(./study-header-img.png);
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 344px;
}
header :nth-child(1){
    margin-top: 94px;
    font-size: 35px;
    line-height: 80px;
}
header :nth-child(2){
    font-size: 70px;
    line-height: 80px;
}

/* nav2 */
#nav2{
    justify-content: center;
    color: #95969D;
    font-size: 24px;
    font-weight: 700;
}
#nav2-first{
    color: #f6f7FB;
    cursor: pointer;
}

/* main-scroll-icon */
.main-scroll-icon{
    position: fixed;
    bottom: 49px; 
    right: 67px; 
    z-index: 2;
}
.main-scroll-icon img{
    height: 80px;
    width: 80px;
    cursor: pointer;
}
#study-place{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 120px;
}

.edit-user-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 75px;
    width: 1180px;

}
.text-box{
    display: flex;
    flex-direction: column;
    align-items: left;

    color: #17181A;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}
.text-box img{
    width: 41.258px;
    height: 62.633px;;

    margin-bottom: 14px;
}
.text-highlight{
    color: #FF5B16;
}
#suser-basic-info{
    display: flex;
    flex-direction: column;
    align-items: left;

    margin-top: 113.74px;
}
#user-basic-info :first-child{
    margin-bottom: 20px;
}
.user-info-title{
    color: #17181A;
    text-align: center;
    font-family: NanumGothic;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
}
#user-img{
    display: flex;
    flex-direction: row;
    align-items: left;
}
#user-img :first-child{
    margin-right: 60px;
}
#user-img-box{
    position: relative;
}
#user-img-box img{
    width: 380px;
    height: 371.514px;
}
#user-edit-img{
    position: absolute;
    top: 30px;
    left: 40px;

    width: 80px;
    height: 80px;
}
#user-name{
    display: flex;
    flex-direction: row;
    
    margin-top: 121px;
}
#user-name :first-child{
    margin-right: 147px;
}
#user-name input[type="text"]{
    width: 980px;
    height: 100px;
    border-radius: 20px;
    background: #F6F7FB;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.10);
    border: none;
}
#user-introduce{
    display: flex;
    flex-direction: row;
    
    margin-top: 104px;
}
#user-introduce :first-child{
    margin-right: 78px;
}
#user-introduce input[type="textarea"]{
    width: 980px;
    height: 206px;
    border-radius: 20px;
    background: #F6F7FB;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.10);
    border: none;
}